
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      background: linear-gradient(334deg, #3568d4, #100530, #0a0712);
      background-size: 180% 180%;
      animation: gradient-animation 6s ease infinite;

      /* Centrado con Flexbox */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      /* Tamaño completo de la ventana */
      width: 100vw;
      height: 100vh;

      /* Elimina o reduce padding */
      padding: 0;
      margin: 0;
    }
       
       @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }



    h1 {
      font-size: 60px;
      color: #ffffff;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      margin-bottom: 30px;
      color: #ffffff;
    }

    .botones {
      display: flex;  
      justify-content: center;
      gap: 20px;
    }

    .botones a {
      text-decoration: none;
      padding: 15px 25px;
      font-size: 16px;
      border-radius: 8px;
      transition: background-color 0.3s;
      color: white;
    }

    .html-btn {
      background-color: #e34c26;
    }

    .css-btn {
      background-color: #264de4;
    }

    .js-btn {
      background-color: #ebcc00;
      color: #000;
    }

     .Pyth-btn {
      background-color: #439df8;
      color: #000000;
    }

    .SQL-btn {
      background-color: #c44100;
      color: #000000;
    }



    .html-btn:hover {
      background-color: #d56808;
    }

    .css-btn:hover {
      background-color: #1b3bb3;
    }

    .js-btn:hover {
      background-color: #ffdf2c;
    }
    
    .Pyth-btn:hover {
      background-color: #00407f;
      
    }

    .SQL-btn:hover {
      background-color: #ff8737;
      
    }
    
      

